﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">VacationManager</h1>
</div>

<hr />

<section class="home-page">
	@if (!User.Identity.IsAuthenticated)
	{
		   <h1 class="text-center">Welcome!</h1>
	}
	else
	{
		   <h1 class="text-center">Welcome, @User.Identity.Name!</h1>
	}
	
	<br />	
</section>